@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: #C9D6FF;
    background: -webkit-linear-gradient(to right, #E2E2E2, #C9D6FF);
    background: linear-gradient(to right, #E2E2E2, #C9D6FF);
    height: 100vh;
}